<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>
        <ion-button (click)="IBeaconTest()">ibeacon</ion-button>
        <ion-button (click)="EstimodeTest()">Estimode</ion-button>
      </ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content> -->

<ion-content padding>
  <h3>Cordova Proximity Quickstart</h3>
  <ion-list>
    <ion-item>
      <ion-label fixed>UUID</ion-label>
      <ion-textarea type="text" [(ngModel)]="uuid"></ion-textarea>
    </ion-item>
  </ion-list>

  <div>
    <div>beacon DATA</div>
    <div>{{beaconUuid}}</div>
    {{beaconData | json}}
  </div>

  <ion-button
    shape="round"
    (click)="onStartClicked()"
    color="primary"
    fill="outline"
    >Start</ion-button
  >
</ion-content>
